@import "@/app/styles";

.AttributeEditForm {
  &-Form {
    max-width: 590px;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid $color-border;
    padding: 30px;
    border-radius: $border-radius;
  }

  &-FormFieldGroup {
    margin-bottom: 30px;
  }

  &-FormControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    max-width: 590px;
    width: 100%;
  }
}
