@import "@/app/styles";

.SignupPage {
  display: flex;
  justify-content: center;
  height: 100%;

  &-Inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    max-width: 470px;
    width: 100%;
  }

  &-Content {
    padding: 24px;
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: $shadow-form;
  }

  &-Title {
    margin-bottom: 25px;
    text-align: center;
  }

  &-Login {
    text-align: center;

    span {
      margin-right: 10px;
    }

    a,
    a span {
      color: $color-primary;
      transition: all $transition;

      &:hover {
        color: $color-primary-hover;
      }
    }
  }
}
