.ImageList {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(76px, 1fr));
  width: 100%;
  margin-bottom: 8px;

  &-Item {
    position: relative;
    height: 76px;
  }

  &-IconWrapper {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 16px;
    cursor: pointer;
  }
}
